body
{
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    color: #434455;
}

.logo span
{
    color: #2e2f42;
}

/* .logo */
/* header nav a
{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
} */

/* .logo:hover, .logo:focus */
/* header nav a:hover, header nav a:focus
{
    color: #2A3750;
} */
